.toFade {
  display:none;
}

.sideButton {
  display: block;
  position: fixed;
  
  top: 100px;
  left: -57px;

  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
}

div.sideButton > a {
  font-size:1.5em;
}
